<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/styles/swipper.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}" />
        
        <!-- ==== FAVICON ==== -->
        <link rel="shortcut icon" href="{{ asset('assets/images/icons/favicon.png') }}" type="image/x-icon">

        <!-- ==== PRETTY CHECKBOX ==== -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

        <!-- ==== FONTAWESOME ==== -->
        <script src="https://kit.fontawesome.com/208bc104ce.js" crossorigin="anonymous"></script>

        <!-- ==== BOXICONS ==== -->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

        <!-- ==== JQUERY ==== -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- ==== ANIMATE CSS ==== -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    
    <body>
        {{ include('components/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('components/footer.html.twig') }}

        <!-- Swiper JS -->
        <script src="{{ asset('assets/js/script.js') }}"></script>
        <script src="{{ asset('assets/js/wow.js') }}"></script>
        <script>
            new WOW().init();
        </script>
    </body>
</html>
